# Dependency directories
node_modules/
frontend/node_modules/
backend/node_modules/

# Local database storage volumes
pg-data/
redis-data/
minio-data/

# Env credentials
.env
backend/.env
frontend/.env

# Production Builds
dist/
frontend/dist/
backend/dist/
build/

# Logs
*.log
logs/

# IDE and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
